
<link rel="stylesheet" type="text/css" href="style.css">

<style type="text/css">

<style>

#tablez {
  width:100% ;
 font-family: Verdana;
font-size:650px;
padding: 5px;
}

.green {
color:green;
font-weight:bold;
text-align;center;
}



#tablez th {
background-color:yellow;
border-style: solid;
font-weight:bold;
}


table.numbers {
color:red
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

table.blue  {
color:blue;
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

table.weather {
border-style:dashed;
border-color:blue;
border-collapse: collapse;
}

table.pics {
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

</style>


