<link rel="stylesheet" type="text/css" href="style.css">
#tablez {
  width:100% ;
}

.green {
color:green;
font-weight:bold;
text-align;center;
}

table, th, td, {
font-family: Verdana;
font-size:650px;
padding: 5px
}

table#tablez th {
background-color:yellow;
border-style: solid
font-weight:bold

table#tablez tr:.numbers {
color:red
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

table#tablez tr:.blue  {
color:blue;
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

table#tablez tr:.weather {
border-style:dashed;
border-color:blue;
border-collapse: collapse;
}

table#tablez tr:.pics {
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}




