
<link rel="stylesheet" type="text/css" href="style.css">


<style type="text/css">

table {
  width:100% ;
 font-family: Verdana;
font-size:650px;
padding: 5px;
}

.green {
color:green;
font-weight:bold;
text-align;center;
}



 th {
background-color:yellow;
border-style: solid;
font-weight:bold;
}


td.numbers {
color:red
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

td.blue  {
color:blue;
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

td.weather {
border-style:dashed;
border-color:blue;
border-collapse: collapse;
}

td.pics {
border-style:dashed;
border-color:blue;
border-collapse:collapse;
}

</style>



